* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: "Times New Roman", Times, serif;
	color: cadetblue;
}
.wrapper {
	max-width: 1440px;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.start {
	width: 175px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	border: 2px solid #4c6986;
	transition: all 0.2s ease;
	cursor: pointer;
	font-weight: bold;
	margin-top: 25px;
}
h1 {
	font-size: 70px;
	font-weight: bold;
}
.start:hover {
	color: white;
	background: #4c6986;
}
.game {
	width: 500px;
	height: 500px;
}
.header {
	display: flex;
	color: #9a9a9a;
	font-size: 24px;
}
.header .player-x {
	flex: 1;
	border-bottom: 5px solid #eee;
	padding-bottom: 8px;
}
.header .player-o {
	flex: 1;
	border-bottom: 5px solid #eee;
	padding-bottom: 8px;
}
.board {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	display: grid;
	grid-gap: 0px;
	flex-grow: 1;
	padding: 10px;
}
.board-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	background: white;
	cursor: pointer;
}
.board-title:not(:nth-child(3n)) {
	border-right: 3px solid rgba(137, 163, 189, 0.4);
}
.board-title:not(:nth-last-child(-n + 3)) {
	border-bottom: 3px solid rgba(137, 163, 189, 0.4);
}
.board-title:hover {
	background: #eee;
}
